input[type=text]{
    display:block;
    width:100%;
    padding:20px;
    border-radius:15px;
    border:0;
    outline:none;
    font-family:font-family;
    background-color:#F2F3F5;
    color:#363A40;
    font-size:16px;

}

select{
    width:100%;
    padding:8px 10px;
    margin:8px 0;
    display:inline-block;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
}
body{
    font-family:'Poppins',sans-serif;
    background-color:#F2F3F5;
    min-height:100vh;
    display:grid;
    place-items:center;
    padding:80px 20px;
}
.heading{
    text-align:center;
    font-weight:600;
    color:#363a40;
    font-size:35px;
    margin-bottom:35px;
}
.form-group{
    padding:60px 40px;
    background-color:white;
    border-radius:30px;
    width:100%;
    max-width:430px;
}
